# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build / Cache
.pytest_cache/
.mypy_cache/